body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #222;
    color: white;
    margin-top: 100px;
}

button {
    font-size: 30px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
